
.containerFactura{
    display: none;
    position: absolute; 
    /* right: 0px; */
    /* width: 500px; */
    /* height: auto; */
    /* min-height: 100%; */
    position: fixed;
    /* z-index: 1; */
    /* padding-top: 323px; */
    left: 0;
    top: 0;
    padding-left: 860px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);    
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    width: 500px;
    height: 100%;
}

.headerNombrePagina{
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #f7732d;
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.headerNombrePagina img{
    width: 120px;
    height: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerNombrePagina svg{
    --main-svg-width: 25px;
    float:left;
    width: var(--main-svg-width); 
    height: var(--main-svg-width);
    display: block;
    margin-right: calc(-1*(var(--main-svg-width)));
}

.headerNombrePagina svg:hover{
    --main-svg-width: 40px;
}
.headerUsuario {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-color: #f7732d;
}
.headerUsuario img{
    border-style: solid;
    border-color: #f7732d;
    border-width: 2px;
    width: 40;
    height: 40;
    border-radius: 100%;
    margin-bottom: 5%;
}
.headerUsuario h1{
    margin-left: 8px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
}

.headerRestaurante{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-color: #f7732d;
    
}

.headerRestaurante img{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    width: 50;
    height: 50;
    border-radius: 10%;
    margin-bottom: 5%;
}

.headerRestaurante h1{
    margin-left: 8px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%;
}
.headerRestaurante h2{
    font-size: 12px;
    text-align: right;
    display: block;
    color: #f7732d;    
}
.headerRestaurante h2:hover{
    font-size: 15px;
}

.pedidos{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom:5%;
}
.pedidos ul{
    overflow-y: scroll;
    height: 290px;
    padding-inline-start: 0%;

}
.pedido{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-color: gainsboro;
    padding: 10px 5px;
}

.pedidos .pedido img{
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    width: 50;
    height: 50;
    border-radius: 10%;
}

.pedidos .pedido h3{    
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    max-width: 220px;
    white-space: nowrap;
}

.pedidos .pedido .p h2, h4{
    font-size: 15px;
    text-align: right;
    display: block;
    color: #7d7d7d;
    margin-bottom: 0px;
}

.pedidos .pedido .p{
    text-align: right;
    margin: 0px auto 0px auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.pedidos .pedido .p svg{
    display: none;
    width: 20;
    height: 20;
    /*fill: #f7732d;*//*naranja o negro*/
    margin-left: 10px;
}

.pedidos .pedido .p svg:hover{
    width: 30px;
    height: 30px;
}
.pedir{
    /*margin-left: 8%;*/
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

.pedir button{
    background-color: #f7732d;
    border-radius: 6px;
    color: white;
    border: #f7732d;
    height:40px;
    width: 250px;
}

.pedir div{
    margin-left: 75px;
}

.pedir svg{
    width: 25;
    height: 25;
    /*float: right;*/
    margin-top:8px;
    /*lo centre a mano fijarse de cambiarlo*/
}
.pedir svg:hover {
    fill: red;
}

::-webkit-scrollbar{
    display: none;
}
.modal {
    display: none;
    /* position: fixed; */
    /* z-index: 1; */
    padding-top: 323px;
    /* left: 0; */
    /* top: 0; */
    padding-left: 870px;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

    /* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
border: 1px solid #888;
width: 300px;
height: 200px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 6%;
}

#canastaVaciaFalse:hover{
    fill: white;
    background: black;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#canastaVaciaTrue:hover{
    fill: white;
    background: black;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#carritoVacio{
    display: none;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#carritoVacio svg{
    width: 115px;
    height: 115px;
    fill: #7d7d7d;
}

#carritoVacio h1{
    margin-top: 10px;
    font-size: 20px;
    color: #7d7d7d;
}