.modalIni {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalIni .modal-content {
  background-color: #fefefe;
  margin: auto;
  /*padding: 20px;*/
  border: 3px solid #c2bbbb;
  width: 30%;
  height:500px;
  border-radius: 80px;
  overflow: hidden;
}

/* The Close Button */
.modalIni .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalIni .close:hover,
.modalIni .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalIni .iniciarSesionContainer{
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.modalIni .logoContainer{
   width: 95%;
}

.modalIni .headerIniciarSesion{
  margin-top: 10px;
  display: inline-flex;
}

.modalIni .headerIniciarSesion svg{
  width: 30px;
  height: 30px;
}/*

.modalIni .headerIniciarSesion svg:hover{
  width: 35px;
  height: 35px;
  margin-bottom: -5px;
}*/

.modalIni .headerIniciarSesion img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 11%;
}

.modalIni .headerIniciarSesion div{
  width: 90%;
}

.modalIni .labelIniciarSesion {
  text-align: center;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni .containerFormulario{
  margin-top: 7%;
}

.modalIni .contentInput{
  margin-bottom: 25px;
}

.modalIni #iniciarSesionForm{
  margin-bottom: 45px;
  margin-top: 11%;
}

.modalIni #iniciarSesionForm input{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  border-style: none;
  font-size: 15px;
  border-bottom: 1px solid #cacaca;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni #iniciarSesionForm input:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-style: none;
  border-bottom: 1px solid rgb(151, 0, 221);
}

.modalIni #iniciarSesionForm button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 70%;
  height: 35px;
  border-radius: 6px;
  font-size: 15px;
  background-color: rgb(178, 13, 255);
  border-style: none;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni .containerPhone{
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color:  #cacaca;
  width: 100%;
  height: 40px; 
  margin-bottom: 15px;
}

.modalIni .contentMail{
  display: flex;
  align-items: center;
}

.modalIni .contentMail svg{
  width: 25px;
  height: 25px;
  margin-right: -40px;
  margin-left: 3%;
}

.modalIni .contentMail h1{
  font-size: 16px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni .contentNumTel{
  display: inline-flex;
}

.modalIni .contentNumArea{
  width: 30%;
  height: 100%;
  border-right: 2px solid #b1afaf;;
  display: flex;
}

.modalIni .contentNumArea div{
  align-self: center;
  margin-left: 10px;
}

.modalIni .contentNumArea img{
  width: 25px;
  height: 25px;
}

.modalIni .contentNumArea svg{
  width: 15px;
  height: 15px;
  margin-left: 9%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.modalIni .contentNumArea h1{
  font-size: 15px;
  display: block;
  margin-top: auto;
  margin-left: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni #telephoneNumber{
  margin-left: 5%;
  width: 59%;
  overflow-x: hidden;
  border-style: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
}

.modalIni #telephoneNumber:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-style: none;
}

.modalIni .wppArea{
  display: flex;
  /*background-image: linear-gradient(130deg,#9ef8aa 0,#03c744 70%);*/
  background-color: limegreen;
  align-items: center;
}

.modalIni .wppArea:hover{
  box-shadow: rgba(0, 0, 0, 0.75) 0px 4px 12px 0px;
  border-style: none;
}

.modalIni .wppArea img{
  width:40px;
  height:40px;
  margin-right: -40px;
}

.modalIni .wppArea h1{
  color: whitesmoke;
  font-size: 16px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalIni .smsArea{
  display: flex;
  align-items: center;
  /*background-image: linear-gradient(130deg,#2d3af1 0,#5e1cf8 70%);*/
  background-color: tomato;

}

.modalIni .smsArea svg{
  width: 25px;
  height: 25px;
  margin-right: -40px;
  margin-left: 3%;
  color: whitesmoke;
}

.modalIni .smsArea h1{
  color: whitesmoke;
  font-size: 16px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.modalIni .smsArea:hover{
  box-shadow: rgba(0, 0, 0, 0.75) 0px 4px 12px 0px;
  border-style: none;
}

.modalIni .registrate{
  text-align: center;
  margin-top: 15%;
}

.modalIni .registrate h1,a{
  font-size: 15px;
  text-align: center;
}

.modalIni .registrate a{
  color: #2ba6cb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.modalIni .registrate a:hover{
  border-bottom-style: solid;
  border-color:#2ba6cb;
  border-width: 1px;
}


